%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%button {
  padding: 0;
  cursor: pointer;
  outline: none;
}

%center-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

%top-header-link {
  font-size: 14px;
  text-decoration: none;
  color: $color-white;
}
