$font-1: 'Open Sans', sans-serif;
$font-2: 'Roboto', sans-serif;
$text-color-dark-grey: #0f0101;
$text-color-grey: #515151;
$text-color-light-grey: #555252;
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-green: rgb(26, 188, 156);
$color-blue: #e9f0fd;
$color-grey: #323232;
