$font-main-1: 'Open Sans', sans-serif;
$font-main-2: 'Roboto', sans-serif;
$text-color-dark-grey: #0f0101;
$text-color-light-grey: #515151;
$color-main-white: rgb(255, 255, 255);
$color-main-black: rgb(0, 0, 0);
$color-main-green: rgb(26, 188, 156);
