.footer {
  font-family: $font-2;
  color: $color-white;
  background: linear-gradient(rgba(45, 50, 55, 0.85), rgba(45, 50, 55, 0.85)),
    url('../images/map.png') #2d3237 no-repeat;
  background-size: cover;
}

.get-in-touch {
  padding: 95px 0 100px;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  width: 540px;
}
