.header-wrapper {
  @extend %space-between-alignment;
}

.top-header {
  @extend %space-between-alignment;
  padding: 14px 0;
  background-color: $color-green;
}

.bottom-header {
  display: flex;
  align-items: center;
  padding: 34px 0;
}

.navigation-wrapper,
.search-cart-wrapper {
  display: flex;
}
