.logo {
  text-decoration: none;

  &__text {
    display: inline-block;
    margin: 0;
    font-family: $font-2;
    font-size: 30px;
    font-weight: 300;
    color: $text-color-light-grey;
    text-transform: uppercase;
  }

  &__capital {
    font-weight: 900;
    color: $color-green;
  }
}

.logo-lowercase {
  display: block;
  margin-bottom: 18px;
  font-family: $font-2;
  font-size: 70px;
  font-weight: 300;
  text-decoration: none;
  color: $color-white;

  &__capital {
    color: $color-green;
  }
}
