.logo {
  text-decoration: none;

  &__text {
    display: inline-block;
    margin: 0;
    font-family: $font-2;
    font-size: 30px;
    font-weight: 300;
    color: $text-color-light-grey;
    text-transform: uppercase;
  }

  &__capital {
    font-weight: 900;
    color: $color-green;
  }
}
